.Item:first-child {
  margin-top: 10px;
}

.Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid black;
}

.Item:not(:last-child) {
  margin-bottom: 10px;
}

.Button {
  margin: 0;
  padding: 0px;
  height: 20px;
  border: 0;
  background-color: none;
  padding: 5px;
}
